body {
    margin: 0px;
    font-family: 'Space Mono', monospace;
    height: 100vh;
    width: 100vw;
}

/*! Flexbox Shizzle */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: blue;
    box-shadow: 15px 15px 0px black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    height: 70vh;
    width: 30vw;
}

.rowFlex {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.sqr {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.inputField {
    flex: 1;
    width: 100%;
    font-size: 4rem;
    text-align: right;
    caret-color: yellow;
    font-family: 'Space Mono', monospace;
    background-color: gray;
    color: white;
}

::placeholder {
    color: black;
}

.empty {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.links {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*! Some Legit Style Things */

.sqr {
    background-color: inherit;
    border: none;
}
.result {
    background-color: green;
}

.theThird,
.top {
    border-right: 1px solid black;
}

.rowFive,
.theLast {
    background-color: orange;
    border-bottom: 1px solid black;
}

a {
    color: black;
    font-size: 1rem;
    padding: 0px 12px;
}

p {
    color: dodgerblue;
    font-size: 0.6rem;
}

button {
    outline: none;
}

button:hover {
    text-shadow: none;
    background-color: violet;
    transition: all 0.2s ease-in-out;
}

.result:hover {
    background-color: red;
    transition: background-color 0.2s ease-in-out;
}

.signs:hover {
    background-color: yellow;
    transition: background-color 0.2s ease-in-out;
}

.empty:hover {
    background-color: darkorange;
    transition: background-color 0.2s ease-in-out;
}

.numbers {
    text-shadow: 2px 2px 0px white, 4px 4px 0px red;
}

/*! Media Querys */
@media (max-width: 1025px) {
    .calc {
        width: 100vw;
        height: 100vh;
    }
}

@media (min-width: 1026px) and (max-width: 2000px) {
    .calc {
        width: 70vw;
        height: 85vh;
    }
}
